@media (min-width:1195px){
.gpt {
  height: 650px;
}
.h2-box2 { 
  margin-left: 25rem;
  margin-top: 2.5rem;
}
}
@media (max-width:400px){
  .gpt {
    height: 500px;
    margin-bottom: 5rem;
    margin-left: 0.5rem;
  }
  .h2-box2 { 
    margin-left: 0.4rem;
    margin-top: 2.5rem;
  }
  }
  @media (min-width:1900px) {
    .gpt {
      height: 800px;
      margin-bottom: 5rem;
      
    }
    .h2-box2 { 
      margin-left: 40rem;
      margin-top: 2.5rem;
    }
  }
